/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

body {
    color: teal;
}

.floatR {
    position: absolute;
    top: 70px;
    left: 20px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.hero-img {
    width: 65%;
    max-height: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 70px;
    clear: both;
}

.hero-img:hover {
    transition-timing-function: ease-in-out;
    transform: scale(1.2);
    opacity: 0.4;
}

.box-1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    margin-top: 10px;
    cursor: pointer;
}

.text-1 {
    margin-bottom: 60px;
}

/*.box-1:hover {
    transition-timing-function:ease-in-out;
    transform:scale(1.2);
}*/

.box-2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    margin-top: 10px;
    cursor: pointer;
}

/*.box-1:hover {
    transition-timing-function:ease-in-out;
    transform:scale(1.2);
}*/

.text-1, .jumbotron, article {
    margin-top: 60px;
}

.card-1 {
    background-color: white;
}

.profile {
    margin-top: 130px;
}

.profile a {
    padding-right: 35px;
}

footer {
    border-top: 3px groove grey;
    width: 100%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    color: indigo;
    margin-top: 40px;
}